<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SalesForceURL" value="http://test.salesforce.com" />
    <add key="BackOfficeURL" value="http://ddbsecom-bo-auto.qa.eurofins.local/" />
    <!--<add key="ServerUrl" value="http://ddbsecom-fo-auto.qa.eurofins.local"/>-->
    <add key="ServerUrl" value="https://www.google.com" />
    <add key="HostName" value="in01sqvd145" />
    <add key="TestEnvironment" value="Dev" />
    <add key="Port" value="90" />
    <add key="MinWaitTime" value="2" />
    <add key="WaitTime" value="3" />
    <add key="EMailWaitTime" value="15" />
    <add key="TimeOut" value="30" />
    <!-- Implicit TimeOut -->
    <add key="Protocol" value="http" />
    <add key="Assembly" value="WebDriver" />
    <add key="Driver" value="OpenQA.Selenium.IE.InternetExplorerDriver" />
    <add key="DriverName" value="IE" />
    <!--<add key="DriverName" value="Firefox"/>
    <add key="Driver" value="OpenQA.Selenium.Firefox.FirefoxDriver"/>
    <add key="DriverName" value="Chrome"/>
    <add key="Driver" value="OpenQA.Selenium.Chrome.ChromeDriver"/>-->
    <add key="RemoteCapabilities" value="InternetExplorer" />
    <add key="IgnoreManualTests" value="false" />
    <add key="DownloadedFileDirectory" value="C:\Temp" />
    <add key="FirefoxMimeTypeDownload" value="text/csv,application/vnd.ms-excel,application/zip" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ShareFolder" value="\\in01fs01\in01_dep\EITSI\IT\ECOM_Automation" />
    <add key="UserNameLocation" value="IMGA" />
    <add key="PasswordLocation" value="Eurofins@1234" />
  </appSettings>
</configuration>