<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SalesForceURL" value="http://test.salesforce.com" />
    <add key="BackOfficeURL" value="http://ddbsecom-bo-auto.qa.eurofins.local/" />
    <!--<add key="ServerUrl" value="http://ddbsecom-fo-auto.qa.eurofins.local"/>-->
    <add key="ServerUrl" value="https://www.google.com" />
    <add key="HostName" value="in01sqvd145" />
    <add key="TestEnvironment" value="Dev" />
    <add key="Port" value="90" />
    <add key="MinWaitTime" value="2" />
    <add key="WaitTime" value="3" />
    <add key="EMailWaitTime" value="15" />
    <add key="TimeOut" value="30" />
    <!-- Implicit TimeOut -->
    <add key="Protocol" value="http" />
    <!--<add key="DriverName" value="Firefox"/>
    <add key="Driver" value="OpenQA.Selenium.Firefox.FirefoxDriver"/>
    <add key="DriverName" value="Chrome"/>
    <add key="Driver" value="OpenQA.Selenium.Chrome.ChromeDriver"/>
    <add key="RemoteCapabilities" value="InternetExplorer" />-->
    <add key="DriverName" value="IE" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Driver" value="OpenQA.Selenium.IE.InternetExplorerDriver" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TestEnvironment" value="SIT" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RemoteCapabilities" value="InternetExplorer"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Assembly" value="WebDriver"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>